In [1]:
#iterate though a list 
colors=['red','green','yellow', 'black']
for x in colors:
    print (x)

red
green
yellow
black

In [2]:
#iterate through a string 
s ="red"
for x in s:
    print(x)

r
e
d

In [3]:
colors=["red", "green","yellow","black"]
for x in colors:
    print (x)
    if x=="green":
        break

red
green

In [4]:
colors=["red", "green","yellow","black"]
for x in colors:
    print (x)
    if x=="green":
        continue

red
green
yellow
black

In [5]:
colors=["red", "green","yellow","black"]
for x in colors:
    print (x)
else:
    print("Done!")

red
green
yellow
black
Done!

In [6]:
colors=["red", "green","yellow","black"]
fruits=["mango","banana","apple"]
for x in colors:
    for y in fruits:
        print(x,y)

red mango
red banana
red apple
green mango
green banana
green apple
yellow mango
yellow banana
yellow apple
black mango
black banana
black apple

In [20]:
num= 100
for i in range(1,11):
    #for j in range(j=i, i*num)
    print(num,"x",i,"=",i*num)

100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000

In [21]:
for num in range(1, 11):
    print("Multiplication table for", num)
    for i in range(1, 11):
        print(num, "x", i, "=", num*i)
    print()

Multiplication table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication table for 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication table for 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication table for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication table for 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication table for 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [16]:
num=5
for i in range(1, num + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5